@font-face {
    font-family: "Aileron";
    src: url("~@res/font/aileron-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Aileron";
    src: url("~@res/font/aileron-semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Aileron";
    src: url("~@res/font/aileron-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Aileron";
    src: url("~@res/font/aileron-heavy.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Aileron";
    src: url("~@res/font/aileron-italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Clear Sans";
    src: url("~@res/font/clear-sans-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Clear Sans";
    src: url("~@res/font/clear-sans-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Clear Sans";
    src: url("~@res/font/clear-sans-italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}
